# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual env
venv/
.env

# OS files
.DS_Store
Thumbs.db

# Binary tools (downloaded by sh script)
warp
result.csv
